.programs {
  padding: 100px 0;
}
.programs__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.programs__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: end;
}
.programs__imgs {
  max-width: 600px;
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 22px;
}
.programs__imgs img {
  width: 100%;
  filter: brightness(0.9);
}
.img-2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.img-3 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}
.programs__text .button {
  max-width: 190px;
}

@media (max-width: 1200px) {
  .programs__container {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .programs {
    padding: 80px 0;
  }
  .programs__container {
    gap: 50px;
  }
  .programs__imgs {
  gap: 13px;
}
}
