:root{
  --background-color-light: #ffffff;
  --background-color-complementary: #edeae8;
  --brand-color-2: #f34213;
  --brand-color-1: #121568;
  --text-color-1: #121568;
  --text-color-2: #f34213;
}

