:root {
  --background-color-light: #ffffff;
  --background-color-complementary: #edeae8;
  --brand-color-2: #f34213;
  --brand-color-1: #121568;
  --text-color-1: #121568;
  --text-color-2: #f34213;
  --text-color-accent: #ffffff;
}
.title-h1 {
  font-size: 85px;
  text-align: center;
  font-weight: 700;
  line-height: 120%;
}

.title-h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 80%;
}
.title-h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 110%;
}
.title-h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 70%;
}
.text-default {
  font-size: 17px;
  font-weight: 400;
  line-height: 180%;
}
.text-large {
  font-size: 22px;
  font-weight: 400;
  line-height: 180%;
}
@media (max-width: 992px) {
  .title-h1 {
    font-size: 75px;
  }

  .title-h2 {
    font-size: 48px;
  }
  .title-h3 {
  font-size: 25px;
}
  .title-h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 70%;
  }
  .text-default {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .title-h1 {
    font-size: 60px;
  }
  .title-h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 80%;
  }
  .title-h3 {
  font-size: 20px;
}
  .title-h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 70%;
  }
  .text-default {
    font-size: 15px;
  }
    .text-large {
  font-size: 20px;
}
}
@media (max-width: 576px) {
  .title-h1 {
    font-size: 40px;
  }

  .title-h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 80%;
  }
  .title-h3 {
  font-size: 18px;

}
  .title-h4 {

  }
  .text-large {
  font-size: 18px;
}
}