
.InfoWithImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
 .InfoWithImg--reverse {
    flex-direction: row-reverse;
  }
.InfoWithImg__img {
  max-width: 600px;
  max-height: 600px;
}
.InfoWithImg__img img {
  width: 100%;
  filter: brightness(0.9);
}

.InfoWithImg__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: end;
}
.InfoWithImg__content .button {
  max-width: 282px;
}
@media (max-width: 1200px) {
  .InfoWithImg {
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .InfoWithImg {
    gap: 50px;
  }
}
