html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  position: relative;
  overflow-x: hidden;
  color: var(--text-color-1);
  background-color: var(--background-color-light);
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.main {
  flex-grow: 1;  
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: calc(1720px + (30px * 2));
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
